extends layout 

block content 
  h2 Delete Category: #{category.name}
  if items.length 
    p #[strong Delete these items first: ]
    dl 
      for item in items 
        dt
          a(href=item.url) #{item.name}
        dd=item.description_decoded
  else
    p Are you sure you want to delete this category?
    form(method="POST" action="")
      input(type="hidden" name="categoryid" value=category._id required=true)
      div#buttons
        button(type="submit") Delete
        a#change-mind(href=category.url) No, I've changed my mind
